/Automation/bin/Debug/Automation.dll
/Automation/bin/Debug/Automation.pdb
/Automation/bin/Debug/chromedriver.exe
/Automation/bin/Debug/nunit.engine.api.dll
/Automation/bin/Debug/nunit.engine.core.dll
/Automation/bin/Debug/nunit.engine.dll
/Automation/bin/Debug/nunit.framework.dll
/Automation/bin/Debug/nunit.framework.xml
/Automation/bin/Debug/nunit_random_seed.tmp
/Automation/bin/Debug/NUnit3.TestAdapter.dll
/Automation/bin/Debug/NUnit3.TestAdapter.pdb
/Automation/bin/Debug/WebDriver.dll
/Automation/bin/Debug/WebDriver.Support.dll
/Automation/bin/Debug/WebDriver.Support.xml
/Automation/bin/Debug/WebDriver.xml
/Automation/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Automation/obj/Debug/Automation.csproj.CopyComplete
/Automation/obj/Debug/Automation.csproj.CoreCompileInputs.cache
/Automation/obj/Debug/Automation.csproj.FileListAbsolute.txt
/Automation/obj/Debug/Automation.csprojAssemblyReference.cache
/Automation/obj/Debug/Automation.dll
/Automation/obj/Debug/Automation.pdb
/Automation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Automation/packages.config
/ND_03_22/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/ND_03_22/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ND_03_22/obj/Debug/ND_03_22.csprojAssemblyReference.cache
/Automation/screenshots/CalculateLoan_21_15_00.png
/Automation/screenshots/Moters norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_16_38_53.png
/Automation/screenshots/Moters norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_16_42_25.png
/Automation/screenshots/Moters norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_16_49_51.png
/Automation/screenshots/Moters norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_16_53_27.png
/Automation/screenshots/Moters norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_16_59_45.png
/Automation/screenshots/Moters norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_01_34.png
/Automation/screenshots/Moters norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_08_15.png
/Automation/screenshots/Nieko neivesta_21_08_19.png
/Automation/screenshots/Nieko neivesta_21_10_05.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_08_39.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_09_27.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_10_21.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_18_10.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_25_23.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_27_34.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_39_16.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_42_57.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_50_10.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_50_47.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_51_58.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_53_35.png
/Automation/screenshots/Norima pensija 1000 EUR, amzius 30, dabartine alga i rankas 800 EUR darbo stazas 10 metu. Sodra mokes 620_17_55_24.png
/Automation/screenshots/Registration to consultation_16_55_01.png
/Automation/screenshots/Registration to consultation_16_57_10.png
/Automation/screenshots/Registration to consultation_16_58_20.png
/Automation/screenshots/Registration to consultation_21_05_18.png
/Automation/screenshots/Registration to consultation_21_08_48.png
/Automation/screenshots/Registration to consultation_21_12_41.png
/Automation/screenshots/Registration to consultation_21_16_36.png
/Automation/screenshots/Registration to consultation_21_17_11.png
/Automation/screenshots/Registration to consultation_21_18_41.png
/Automation/screenshots/Registration to consultation_22_58_42.png
/Automation/screenshots/Registration to consultation_23_05_22.png
/Automation/screenshots/Registration to consultation_23_06_04.png
/Automation/screenshots/Registration to consultation_23_13_32.png
/Automation/screenshots/Registration to consultation_23_16_08.png
/Automation/screenshots/Registration to consultation_23_42_03.png
/Automation/screenshots/TestFirstAlertBox_19_47_04.png
/Automation/screenshots/TestFirstAlertBox_19_49_15.png
/Automation/screenshots/TestFirstAlertBox_20_00_03.png
/Automation/screenshots/TestLoginToBankAcount_18_44_54.png
/Automation/screenshots/TestLoginToBankAcount_18_46_58.png
/Automation/screenshots/TestLoginToBankAcount_19_42_36.png
/Automation/screenshots/TestLoginToBankAcount_19_45_53.png
/Automation/screenshots/TestLoginToBankAcount_19_46_43.png
/Automation/screenshots/TestLoginToBankAcount_19_50_24.png
/Automation/screenshots/TestLoginToBankAcount_19_51_26.png
/Automation/screenshots/TestLoginToBankAcount_19_52_13.png
/Automation/screenshots/TestLoginToBankAcount_19_53_30.png
/Automation/screenshots/TestLoginToBankAcount_19_54_10.png
/Automation/screenshots/TestLoginToBankAcount_20_35_14.png
/Automation/screenshots/TestLoginToBankAcount_20_36_08.png
/Automation/screenshots/TestLoginToBankAcount_22_31_01.png
